:root {
	--white: #e6e0e0;
	--black: #000000;
	--red: #a01717;
	--white-bgc: #d4c6c6;
	--bgcolor: #19171a;
	--sub-bgcolor: #534e58;
	--main-color: #7f741d;
	--sub-color: #7f741d;
	--accent-color: #290563;
}
